*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    background-color: #E6E6E6;
}

    /* BARRA DE NAVEGACION FIJA */
/* .navegacion {
    width: 100%;
    position: fixed;
    z-index: 80;
} */

#book-friend {
    font-family: Carter One;
    font-size: 135%;
}

main {
    margin: 1.2em;
}

body main .book {
    font-family: Carter One;
    text-align: center;
}

body main .libros {
    text-align: center;
    margin-bottom: 3%;
}

main .cuadrito {
    background-color: #E6E6E6;
    height: 100%;

}

/* TITULO GENEROS LITERARIOS */
.genero {
    margin-top: 30px;
    margin-bottom: 30px;
}

    /* AQUI SE CAMBIA EL TAMAÑO DE LA CARD */
main .columns .column .card {
    height: 1150px;
}

    /* AQUI SE CAMBIA EL TAMAÑO DE LA IMAGEN DE LA CARD */
.tamano {
    height: 500px;
}

    /* SE CENTRA EL TEXTO DE LA CARD */
.centro {
    text-align: center;
}

    /* SE USA LA PROPIEDAD JUSTIFY PARA JUSTIFICAR EL TEXTO */
.justificar {
    text-align: justify;
}

